[submodule "PinataEngine/vendor/spdlog"]
	path = PinataEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "PinataEngine/vendor/GLFW"]
	path = PinataEngine/vendor/GLFW
	url = https://github.com/NiKuliCat/glfw
[submodule "PinataEngine/vendor/glm"]
	path = PinataEngine/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "PinataEngine/vendor/ImGui"]
	path = PinataEngine/vendor/ImGui
	url = https://github.com/NiKuliCat/imgui
	branch = docking
[submodule "PinataEngine/vendor/yaml-cpp"]
	path = PinataEngine/vendor/yaml-cpp
	url = https://github.com/NiKuliCat/yaml-cpp
